*.pyc
*.pyo

.idea

debug.log
static/
#masters/migrations
#user/migrations
#security/migrations
#flat_user/migrations
#homesafe_backend/settings.py
#billing/migrations
#payment/migrations
#notice_board/migrations
#community/migrations
#complaints/migrations
#residents/migrations
#service_roles/migrations
#service_contacts/migrations
#visitors/migrations
#feedback/migrations
logs/
#!/administration/migrations/__init__.py
#!/billing/migrations/__init__.py
#!/flat_user/migrations/__init__.py
#!/masters/migrations/__init__.py
#!/payment/migrations/__init__.py
#!/security/migrations/__init__.py
#!/user/migrations/__init__.py
#!/notice_board/migrations/__init__.py
#!/community/migrations/__init__.py
#!/complaints/migrations/__init__.py
#!/residents/migrations/__init__.py
#!/service_roles/migrations/__init__.py
#!/service_contacts/migrations/__init__.py
#!/visitors/migrations/__init__.py
#!/feedback/migrations/__init__.py
